
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="user.css">

<link rel="stylesheet" href="fooditems.css">


<style type="text/css">
</style>

<meta charset="ISO-8859-1">
<title>Add dishes</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">


</head>
<body>
	<div class="header">
		<a href="http://localhost:8081/dashboard" class="active">Home</a> <a
			href="http://localhost:8081/restaurants">Restaurants</a> <a
			href="http://localhost:8081/contactus">Contact us</a>
		<div class="a">
			<a class="color" href="http://localhost:8081/login">Login
				&nbsp;&nbsp;</a>
		</div>
	</div>
	<br>
	<div align="center" width=25%>
		<div class=size>

			<div>
				<div>

					<form action="#" th:action="@{/saveDish}" th:object="${dish}"
						method="post">

						<h2 align="center" style="color: orange;">Dish Addition</h2>

						<label class="float-left red">Dish Name</label>
						<div>


							<input type="text" th:field="*{dishname}" required="required"
								maxlength="15" data-minlength="4" placeholder="Enter Dish name">
						</div>


						<label class="float-left red">Decreption</label>
						<div>
							<input type="text" th:field="*{description}" required="required"
								placeholder="Enter Decreption">
						</div>


						<label class="float-left red">Price</label>
						<div>
							<input type="text" th:field="*{price}" required="required"
								onkeypress="return /[0-9]/i.test(event.key)"
								placeholder="Enter price">
						</div>

						<label class="float-left red">Dish Type</label>
						<div>

							<input type="text" th:field="*{type}" data-inline="true"
								placeholder="Enter type">
						</div>

						<label class="float-left red">Submit</label><br>
						<div>
							<input type="submit" onclick=" thisFunction()"
								class="float-left ">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function thisFunction() {

			alert("Your order successfully registered")

		}
	</script>


</body>
</html>

