<html>
<head>
<title>Contact us page</title>

<link rel="stylesheet" href="fooditems.css">
<style type="text/css">
.colorr {
	background-color: #85d9ee;
	height: 100%;
}

h1 {
	font-size: 500%;
	color: white;
}
</style>
</head>
<body>
	<div class="header">
		<a href="http://localhost:8080/dashboard" class="active">Home</a>
		 <a
			href="http://localhost:8080/restaurants">Restaurants</a> <a
			href="http://localhost:8080/contactus">Contact us</a>
		<div class="a">
			<a class="color" href="http://localhost:8080/login">Login
				&nbsp;&nbsp;</a>
		</div>
	</div>

	<div class=colorr>
		<br>

		<div align="center">
			<h1>Contact Us</h1>
			This is our phone number :<br>
			<br>
			<b>+91 9391795962 , +91 8897532188</b><br>
			<br>This is our Email:<b><br><br>loki@mail.com</b><br><br>
			
			
		</div>
	</div>
</body>

</html>